@import '../../../../node_modules/antd/dist/antd.css';

.advanced-search-form {
    padding: 24px;
    background: #FCFBFA;
    border-bottom: 1px solid #d9d9d9;

}

.search-label {
    margin-left: 0.3em;
    color: rgba(0, 0, 0, 0.85);
}
